@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: 74, 85, 207;
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-color: 74, 85, 207;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer base {
  body {
    @apply text-gray-900 dark:text-gray-100;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

